players/*
worlds/*
plugin_data/*
plugins/*
bin*/*
maps/*
timings/*
crashdumps/*
*.log
*.txt
*.phar
server.properties
/pocketmine.yml
/altay.yml
/betteraltay.yml
memory_dumps/*
resource_packs/
server.lock
/phpstan.neon

# Common IDEs
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
nbproject/*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

# Sphinx-doc
/docs/build/
!/docs/requirements.txt

# Composer
vendor/*

# Travis files
test_data/*

# Doxygen
Documentation/*

# PHPUnit
/.phpunit.result.cache

# php-cs-fixer
/.php_cs.cache
/.php-cs-fixer.cache

src/pocketmine/resources/vanilla/recipes/*
src/pocketmine/resources/vanilla/block_id_to_item_id_map.json
src/pocketmine/resources/vanilla/block_state_meta_map.json
src/pocketmine/resources/vanilla/command_arg_types.json