banned-ips.txt
banned-players.txt
esko.yml
ops.txt
server.lock
server.log
server.properties
white-list.txt
EskoBE.phar
.php-cs-fixer.cache
whitelist_reason.txt
bin
vendor/
worlds
resource_packs
plugins
plugin_data
players
maps
crashdumps
timings
