altay.yml
betteraltay.yml
banned-ips.txt
banned-players.txt
BetterAltay.phar
ops.txt
pocketmine.yml
server.lock
server.log
white-list.txt
server.properties
/.idea/
/players/
/plugin_data/
/plugins/
/resource_packs/
/maps/
/vendor/
/worlds/
/crashdumps/
